// 提示块
.shortcodestyle {
    margin: 20px 8px !important;
    padding: 15px 15px 15px 30px !important;
    position: relative !important;
    color: #505050;
    box-shadow: 0 1px 30px -4px #e8e8e8;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px !important;
    border: 1.5px solid #ffffff;
    box-sizing: border-box;

    text-indent: 0 !important;

    &:hover {
        box-shadow: 0 1px 20px 10px #e8e8e8;
        background: rgba(255, 255, 255, 0.8);
    }

    i {
        margin-right: 25px;
        font-size: 20px;
        text-indent: 0 !important;
    }

    a {
        padding: 5px !important;
    }

    &.task,
    &.warning,
    &.noway,
    &.buy {
        // text-indent: 0 !important;

        p {
            text-indent: 0 !important;
        }
    }

    // 类型颜色
    &.task i {
        color: #7d7d7d !important;
    }

    &.warning i {
        color: #f1c700 !important;
    }

    &.noway i {
        color: #dc143c !important;
    }

    &.buy i {
        color: #32cd32 !important;
    }
}

// showcard
.showcard {
    position: relative;
    width: 240px;
    height: auto;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 30px -4px #e8e8e8;
    background: rgba(255, 255, 255, 0.5);
    border: 1.5px solid #ffffff;

    &:hover {
        box-shadow: 0 1px 20px 10px #e8e8e8;
        background: rgba(255, 255, 255, 0.8);
    }

    .img {
        position: relative;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        margin: 4% auto 0;
        box-shadow: 0 1px 30px -4px #e8e8e8;
        opacity: 1;
        &:hover {
            box-shadow: 0 1px 20px 10px #e8e8e8;
            height: 180px;
            width: 180px;
            margin: 8% auto 5.1%;
            opacity: 0.9;
        }
    }

    .icon-title {
        position: relative;
        left: 5%;
        margin-top: 4%;
        display: inline-flex;
        overflow: hidden;
        max-width: 90%;
        width: fit-content;
        gap: 10px;
        align-items: center;
        font-size: 12px;
        i {
            font-size: 11px;
        }
    }

    .showcard-button {
        position: absolute;
        box-shadow: 0 1px 30px -4px #e8e8e8;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: saturate(180%) blur(10px);
        padding: 5px;
        font-size: 16px;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 100%;
        top: 0;
        right: 0;
        margin: 10px;
        transition: all 0.4s cubic-bezier(0.07, 0.53, 0.65, 0.95);
    }

    .img:hover .showcard-button {
        font-size: 32px;
        width: 60px;
        height: 60px;
        top: 27.5%;
        right: 27.5%;
        box-shadow: 0 1px 20px 8px #e8e8e8;
        background: rgba(255, 255, 255, 0.8);
    }
}

// 对话框
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;

    &:focus {
        background-color: #eee;
        clip: auto !important;
        clip-path: none;
        color: #444;
        display: block;
        font-size: 1em;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 999;
    }
}

.conversations-code {
    display: flex;
    padding: 10px;

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .conversations-code-text {
        margin: auto 10px;
        padding: 8px 14px;
        color: #505050;
        max-width: 80%;
        width: fit-content;
        font-size: 15px;
        box-shadow: 0 1px 30px -4px #e8e8e8;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px !important;
        text-indent: 0 !important;
        border: 1.5px solid #ffffff;

        &:hover {
            box-shadow: 0 1px 20px 10px #e8e8e8;
            background: rgba(255, 255, 255, 0.8);
        }
    }
}
